<h4 class="titulo">Registre e monstre seu pet</h4>

<form class="form">
  <div class="form__group">
    <input placeholder="e-mail" class="form__group__input" />
  </div>
  <div class="form__group">
    <input placeholder="Nome Completo" class="form__group__input" />
  </div>
  <div class="form__group">
    <input placeholder="Usuário" class="form__group__input" />
  </div>
  <div class="form__group">
    <input type="password" placeholder="Senha" class="form__group__input" />
  </div>
  <button class="form__botao">Registrar</button>
</form>
